* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f6f8;
    color: #222;
}

a {
    text-decoration: none;
}

/* Main App */

.app-container {
    display: flex;
    min-height: 100vh;
}

/* Side bar*/

.sidebar {
    width: 250px;
    background: #c8102e;
    color: white;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}